<!DOCTYPE html>
<html ng-app="app">
<meta charset="UTF-8">
<title>Git Hub Angular Issues</title>

<script src="../app/controllers/controllers.js"></script>
<script src="../app/webApp.js"></script>

<body ng-controller="appController">
	<div class="wrap">
		<div class="panel panel-primary">
			<h3 class="panel-heading">Angular Git Issues</h3>
		</div>
	</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></script>	
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-css/1.0.7/angular-css.js"></script>	
<link rel="stylesheet"
	href="../app/cs/bootstrap.min.css">	